.ability_trigger {
    text-shadow: 1px 0 1px rgb(0, 0, 0);
}

.cooldown_timer {
    text-shadow: 1px 0 1px rgb(0, 0, 0);
}

.stack_count {
    text-shadow: 1px 0 1px rgb(0, 0, 0);
    -unity-text-align: upper-right;
    font-size: 30;
}

.container {
    width: 100px;
    height: 120px;
}
